@import '../Var.less';

.card {
	background-color: @pale-pink-transparent;
	width: 320px;
	height: 450px;
	position: relative;
	flex-direction: column;
	align-items: center;

	h5 {
		margin: 5px 10px;
	}

	p {
		margin: 10px;
	}

	.img {
		width: 270px;
		z-index: 1;
		transition: top 1s, transform 1s;
		position: absolute;
		top: 10%;
	}

	.title {
		transition: top 1s;
		position: absolute;
		top: 70%;
	}

	.price {
		transition: top 1s;
		position: absolute;
		top: 80%
	}

	.description {
		transition: visibility 1s, opacity 1s linear;
		position: absolute;
		top: 75%;
		opacity: 0;
		visibility: hidden;
	}
}

.card:hover,
.card:active {
	.img {
		top: -15%;
		transform: scale(1.5);
	}

	.title {
		top: 55%;
	}

	.price {
		top: 65%;
	}

	.description {
		top: 75%;
		visibility: visible;
		opacity: 1;
	}
}