@import '../Var.less';

.foodCard {
	flex: 1 0 21%;
	background-color: @dark-gray;
	min-width: 340px;

	.image {
		background-position: center;
		aspect-ratio: 4/3;
	}

	.info {
		padding: 0px 20px;
	}

	.info>* {
		margin: 20px 0pX;
	}

	.info> :last-child {
		margin: 20px 0px 0px 0px;
	}

	.icon {
		margin: 0px 5px 0px 0px;
	}
}
