@import '../Var.less';

header, nav {
	z-index: 10;
}

.navigation {
	position: fixed;
	display: flex;
	justify-content: center;
	height: 60px;
	width: 100%;
	background: @transparent-black;
	border-bottom: 1px solid @border-white;

	nav {
		width: 50%;
		display: flex;
		justify-content: space-evenly;

		a {
			display: flex;
			align-items: center;
			opacity: 0.8;
		}

		a:hover {
			opacity: 1;
		}
	}
}

