---
import type { FoodCardItem } from "@customTypes/food/foodCardItem";

import "@styles/components/food/FoodCard.less";

interface Props {
  foodCard: FoodCardItem;
}

const { foodCard } = Astro.props;
---

<li class="card flex blur-background">
  <h6 class="title">{foodCard.title}</h6>
  <h6 class="price">{foodCard.price} €</h6>
  <p class="description">{foodCard.text}</p>
</li>
