---
import type { DrinksPageItem } from "@customTypes/drinks/drinksPageItem";

import MainLayout from "@layouts/MainLayout.astro";

import TabButtonsWrapper from "@components/buttons/TabButtonsWrapper.astro";
import DrinksSectionWrapper from "@components/drinks/DrinksSectionWrapper.astro";

import "@styles/pages/drinks/Drinks.less";

export async function getStaticPaths() {
  const pages: DrinksPageItem[] = [
    {
      drink: "refreshments",
      tabButtonsWrapper: {
        title: "Refrescos y zumos",
        tabButtons: [
          {
            id: "appetizers",
            title: "Aperitivos",
          },
          {
            id: "refreshments",
            title: "Refrescos y zumos",
          },
        ],
      },
      drinksSectionWrapper: {
        drinksSection: [
          {
            id: "appetizers",
            tittle: "Aperitivos",
            drinks: [
              {
                title: "Cóctel aperitivo",
                price: "7,00",
              },
              {
                title: "Spritz",
                price: "6,50",
              },
              {
                title: "Aperol",
                price: "5,00",
              },
              {
                title: "Campari",
                price: "6,00",
              },
              {
                title: "Vermut",
                price: "4,00",
              },
            ],
          },
          {
            id: "refreshments",
            tittle: "Refrescos y zumos",
            drinks: [
              {
                title: "Refresco",
                price: "3,00",
              },
              {
                title: "Zumo de tomate",
                price: "3,00",
              },
              {
                title: "Zumo de naranja natural",
                price: "4,00",
              },
              {
                title: "Refresco premium",
                price: "3,50",
              },
              {
                title: "Mosto",
                price: "2,50",
              },
              {
                title: "Agua con gas",
                price: "2,50",
              },
              {
                title: "Agua",
                price: "1,50",
              },
            ],
          },
        ],
      },
    },
    {
      drink: "beers",
      tabButtonsWrapper: {
        title: "Cervezas",
        tabButtons: [
          {
            id: "beers",
            title: "Cervezas",
          },
        ],
      },
      drinksSectionWrapper: {
        drinksSection: [
          {
            id: "beers",
            tittle: "Cervezas",
            drinks: [
              {
                title: "Alhambra verde",
                price: "3,50",
              },
              {
                title: "Alhambra roja",
                price: "4,00",
              },
              {
                title: "Cerveza 1906",
                price: "3,50",
              },
              {
                title: "Estrella Galicia",
                price: "3,50",
              },
              {
                title: "Mahou 5 esrtrellas",
                price: "3,50",
              },
              {
                title: "Gastro",
                price: "4,50",
              },
              {
                title: "Paulaner",
                price: "4,50",
              },
              {
                title: "Ambar ambiciosa",
                price: "3,50",
              },
              {
                title: "Guinness",
                price: "4,50",
              },
              {
                title: "Leffe",
                price: "4,00",
              },
              {
                title: "Grimbergen",
                price: "4,50",
              },
              {
                title: "Pilsner Urquell",
                price: "3,50",
              },
            ],
          },
        ],
      },
    },
    {
      drink: "liquors",
      tabButtonsWrapper: {
        title: "Licores",
        tabButtons: [
          {
            id: "brandy",
            title: "Brandy y Coñac",
          },
          {
            id: "gin",
            title: "Ginebras",
          },
          {
            id: "ron",
            title: "Rones",
          },
          {
            id: "whisky",
            title: "Whiskies",
          },
          {
            id: "hotDrinks",
            title: "Bebidas calientes",
          },
        ],
      },
      drinksSectionWrapper: {
        drinksSection: [
          {
            id: "brandy",
            tittle: "Brandy y Coñac",
            drinks: [
              {
                title: "Chupito premium",
                price: "4,50",
              },
              {
                title: "1866",
                price: "9,00",
              },
              {
                title: "Gran Duque de Alba",
                price: "9,00",
              },
              {
                title: "Lepanto",
                price: "9,00",
              },
              {
                title: "Cardenal Mendoza",
                price: "9,00",
              },
              {
                title: "Carlos I",
                price: "9,00",
              },
              {
                title: "Luis Felipe",
                price: "13,00",
              },
              {
                title: "Rémy Martin",
                price: "20,00",
              },
              {
                title: "Sempé Armagnacs",
                price: "8,00",
              },
              {
                title: "Martell",
                price: "12,50",
              },
            ],
          },
          {
            id: "gin",
            tittle: "Ginebras",
            drinks: [
              {
                title: "Rives Special",
                price: "9,00",
              },
              {
                title: "Monkey rojo",
                price: "27,00",
              },
              {
                title: "Bloom",
                price: "9,50",
              },
              {
                title: "Le Tribute",
                price: "9,00",
              },
              {
                title: "MR Latt",
                price: "9,00",
              },
              {
                title: "No. 1",
                price: "8,00",
              },
              {
                title: "No. 3",
                price: "9,00",
              },
              {
                title: "No. 209",
                price: "9,00",
              },
              {
                title: "Nordes",
                price: "9,00",
              },
              {
                title: "Martin Millers",
                price: "9,00",
              },
              {
                title: "Fifty Pounds",
                price: "8,50",
              },
              {
                title: "Mombasa",
                price: "8,50",
              },
              {
                title: "Monkey",
                price: "14,00",
              },
              {
                title: "Wint",
                price: "8,00",
              },
              {
                title: "Puerto de Indias",
                price: "7,50",
              },
              {
                title: "Gin K-25",
                price: "8,00",
              },
              {
                title: "Gin Formentera",
                price: "8,00",
              },
              {
                title: "Gin Magellan",
                price: "8,00",
              },
              {
                title: "Gin Gold",
                price: "8,00",
              },
              {
                title: "Gin mare",
                price: "9,50",
              },
              {
                title: "Gin Canaima",
                price: "10,00",
              },
              {
                title: "Oxley",
                price: "9,00",
              },
              {
                title: "Roku Gin",
                price: "8,00",
              },
              {
                title: "Martin Millers Westbourne",
                price: "10,00",
              },
              {
                title: "Xoriguer",
                price: "7,50",
              },
              {
                title: "Modernessia",
                price: "8,00",
              },
              {
                title: "Plymouth Gin",
                price: "8,00",
              },
              {
                title: "Bols",
                price: "8,00",
              },
              {
                title: "Gin Seven Deadly",
                price: "9,00",
              },
              {
                title: "Larios 150",
                price: "7,50",
              },
              {
                title: "Opihr",
                price: "7,50",
              },
              {
                title: "Level gin",
                price: "7,50",
              },
              {
                title: "Citadelle Dorada",
                price: "12,50",
              },
              {
                title: "Beefeater 24",
                price: "7,50",
              },
              {
                title: "Berkeley Square",
                price: "9,50",
              },
              {
                title: "Bombay Sapphire",
                price: "8,00",
              },
              {
                title: "Brockmans",
                price: "8,50",
              },
              {
                title: "Citadelle",
                price: "8,00",
              },
              {
                title: "Bombai Star Off",
                price: "9,00",
              },
              {
                title: "Gvigne nouaison",
                price: "9,50",
              },
              {
                title: "Tanqueray Ten",
                price: "8,50",
              },
              {
                title: "Gvine Floraison",
                price: "9,50",
              },
              {
                title: "Tanqueray Rangpur",
                price: "8,00",
              },
              {
                title: "Hendricks",
                price: "8,50",
              },
              {
                title: "Bulldog",
                price: "8,00",
              },
            ],
          },
          {
            id: "ron",
            tittle: "Rones",
            drinks: [
              {
                title: "Ron el Abuelo 7",
                price: "8,50",
              },
              {
                title: "Brugal extraviejo",
                price: "8,00",
              },
              {
                title: "Conde de Cuba",
                price: "8,50",
              },
              {
                title: "Cacique origen",
                price: "8,00",
              },
              {
                title: "Havana club 7",
                price: "8,00",
              },
              {
                title: "Matusalem insólito",
                price: "9,00",
              },
              {
                title: "Santa Teresa Selecto",
                price: "8,50",
              },
              {
                title: "Santa Teresa Linaje",
                price: "8,50",
              },
              {
                title: "Barceló Imperial",
                price: "9,00",
              },
              {
                title: "Barceló Onyx",
                price: "15,00",
              },
              {
                title: "Brugal 1888",
                price: "9,50",
              },
              {
                title: "Ron",
                price: "7,50",
              },
              {
                title: "Ron el Abuelo XII",
                price: "15,00",
              },
              {
                title: "Ron el Abuelo 12",
                price: "10,50",
              },
              {
                title: "Pampero Aniversario",
                price: "9,00",
              },
              {
                title: "Zacapa 23",
                price: "12,50",
              },
              {
                title: "Zacapa XO",
                price: "35,00",
              },
              {
                title: "Matusalem 10",
                price: "9,00",
              },
              {
                title: "Matusalem 15",
                price: "10,00",
              },
              {
                title: "Matusalem 7",
                price: "8,00",
              },
              {
                title: "Ron del Rey",
                price: "15,00",
              },
              {
                title: "Botran",
                price: "8,50",
              },
              {
                title: "Capitán Kidd",
                price: "27,00",
              },
            ],
          },
          {
            id: "whisky",
            tittle: "Whiskies",
            drinks: [
              {
                title: "Glenfiddich 12",
                price: "11,00",
              },
              {
                title: "Bulleit",
                price: "8,50",
              },
              {
                title: "Emerald",
                price: "8,50",
              },
              {
                title: "Markers Mark",
                price: "9,00",
              },
              {
                title: "The Balvenie",
                price: "11,00",
              },
              {
                title: "Hibiki",
                price: "25,00",
              },
              {
                title: "Nikka",
                price: "16,00",
              },
              {
                title: "Lagavulin",
                price: "17,00",
              },
              {
                title: "Talisker",
                price: "11,00",
              },
              {
                title: "Gold label reserve",
                price: "13,00",
              },
              {
                title: "The Glenrothes",
                price: "11,00",
              },
              {
                title: "Haig Club",
                price: "11,00",
              },
              {
                title: "Macallan 12",
                price: "15,00",
              },
              {
                title: "Oban 14",
                price: "15,00",
              },
              {
                title: "Springbanr 10",
                price: "15,00",
              },
              {
                title: "Johnnie Walker Green",
                price: "14,00",
              },
              {
                title: "Johnnie Walker Blue Label",
                price: "35,00",
              },
              {
                title: "Johnnie Walker Doubleblack",
                price: "9,00",
              },
              {
                title: "Johnnie Walker Black",
                price: "9,00",
              },
              {
                title: "Black Bushmills",
                price: "9,00",
              },
              {
                title: "Chivas Mizunara",
                price: "13,00",
              },
              {
                title: "Chivas Regal",
                price: "9,00",
              },
              {
                title: "Antiquary 12",
                price: "7,50",
              },
              {
                title: "Glenmorangie Santa",
                price: "14,00",
              },
              {
                title: "Glenmorangie Original",
                price: "12,00",
              },
              {
                title: "Knockando 12",
                price: "12,00",
              },
              {
                title: "The Glenlivet",
                price: "12,00",
              },
              {
                title: "Laphroaig",
                price: "12,00",
              },
              {
                title: "Woodford Reserve",
                price: "12,00",
              },
              {
                title: "Cardhu",
                price: "9,50",
              },
              {
                title: "Bowmore",
                price: "10,00",
              },
              {
                title: "Jack Daniels",
                price: "9,00",
              },
              {
                title: "Jack Single Barrel",
                price: "11,00",
              },
              {
                title: "Ardbeg",
                price: "17,00",
              },
            ],
          },
          {
            id: "hotDrinks",
            tittle: "Bebidas calientes",
            drinks: [
              {
                title: "Grog",
                price: "8,50",
              },
              {
                title: "Hot Brandy",
                price: "6,50",
              },
              {
                title: "Blanca Alexandra",
                price: "6,50",
              },
              {
                title: "Leche Jamaicana",
                price: "4,50",
              },
              {
                title: "Aroma del tiempo",
                price: "4,50",
              },
            ],
          },
        ],
      },
    },
    {
      drink: "cocktails",
      tabButtonsWrapper: {
        title: "Cócteles",
        tabButtons: [
          {
            id: "cocktails",
            title: "Cócteles",
          },
          {
            id: "notAlcoholCocktails",
            title: "Cócteles sin alcohol",
          },
        ],
      },
      drinksSectionWrapper: {
        drinksSection: [
          {
            id: "cocktails",
            tittle: "Cócteles",
            drinks: [
              {
                title: "Tom Collins",
                price: "9",
              },
              {
                title: "Americano",
                price: "9",
              },
              {
                title: "Manhattan",
                price: "9",
              },
              {
                title: "Dry Martini",
                price: "9",
              },
              {
                title: "French 75",
                price: "9",
              },
              {
                title: "Pisco Sour",
                price: "9",
              },
              {
                title: "Negroni",
                price: "9",
              },
              {
                title: "Presidente",
                price: "9",
              },
              {
                title: "Daiquiri",
                price: "9",
              },
              {
                title: "Bloody Mary",
                price: "9",
              },
              {
                title: "Mimosa",
                price: "9",
              },
              {
                title: "White Lady",
                price: "9",
              },
              {
                title: "Old Fashioned",
                price: "9",
              },
              {
                title: "Perfect Martini",
                price: "9",
              },
              {
                title: "Mojito",
                price: "9",
              },
              {
                title: "Mai Tai",
                price: "9",
              },
              {
                title: "Margarita",
                price: "9",
              },
              {
                title: "Gimlet",
                price: "9",
              },
              {
                title: "Piña colada",
                price: "9",
              },
              {
                title: "Blue Lagoon",
                price: "9",
              },
              {
                title: "Cosmopolitan",
                price: "9",
              },
              {
                title: "Vodkatini",
                price: "9",
              },
              {
                title: "Caipiriña",
                price: "9",
              },
              {
                title: "Alexander",
                price: "9",
              },
              {
                title: "Tequila Sunrise",
                price: "9",
              },
              {
                title: "Porto Flip",
                price: "9",
              },
              {
                title: "Whisky Sour",
                price: "9",
              },
              {
                title: "White Russian",
                price: "9",
              },
              {
                title: "Antojo Pérez",
                price: "9",
              },
              {
                title: "Chicote",
                price: "9",
              },
              {
                title: "Boadas",
                price: "9",
              },
              {
                title: "Don Pepe",
                price: "9",
              },
              {
                title: "Del Diego",
                price: "9",
              },
              {
                title: "Caribbean Club",
                price: "9",
              },
              {
                title: "Bill Viola",
                price: "9",
              },
              {
                title: "Ai Weiwei",
                price: "9",
              },
              {
                title: "Gin Yang",
                price: "9",
              },
              {
                title: "Mamá",
                price: "9",
              },
              {
                title: "San Mateo",
                price: "9",
              },
              {
                title: "Tintoreto",
                price: "9",
              },
              {
                title: "Bellini",
                price: "9",
              },
              {
                title: "Rossini",
                price: "9",
              },
              {
                title: "Jovini",
                price: "9",
              },
              {
                title: "Príncipe",
                price: "9",
              },
              {
                title: "Marqués de Cava",
                price: "9",
              },
            ],
          },
          {
            id: "notAlcoholCocktails",
            tittle: "Cócteles sin alcohol",
            drinks: [
              {
                title: "San Francisco",
                price: "8,50",
              },
              {
                title: "Very well",
                price: "8,50",
              },
              {
                title: "Virgin Mary",
                price: "8,50",
              },
              {
                title: "Lime Tonic",
                price: "8,50",
              },
              {
                title: "Bomarzo",
                price: "8,50",
              },
              {
                title: "Florida",
                price: "8,50",
              },
              {
                title: "Good Beer",
                price: "8,50",
              },
            ],
          },
        ],
      },
    },
    {
      drink: "coffees",
      tabButtonsWrapper: {
        title: "Cafés",
        tabButtons: [
          {
            id: "hotcoffees",
            title: "Cafés calientes",
          },
          {
            id: "coldcoffees",
            title: "Cafés fríos",
          },
          {
            id: "icedcoffees",
            title: "Cafés con helado",
          },
        ],
      },
      drinksSectionWrapper: {
        drinksSection: [
          {
            id: "hotcoffees",
            tittle: "Cafés calientes",
            drinks: [
              {
                title: "Irlandés",
                price: "6,50",
              },
              {
                title: "Vienés",
                price: "4,50",
              },
              {
                title: "Jamaicano",
                price: "6,50",
              },
              {
                title: "Jovi",
                price: "6,50",
              },
              {
                title: "Antillano",
                price: "6,50",
              },
              {
                title: "Francés",
                price: "6,50",
              },
              {
                title: "Mejicano",
                price: "6,50",
              },
              {
                title: "Zomeño",
                price: "6,50",
              },
              {
                title: "Boadas",
                price: "6,50",
              },
              {
                title: "Brasileño",
                price: "5.00",
              },
            ],
          },
          {
            id: "coldcoffees",
            tittle: "Cafés fríos",
            drinks: [
              {
                title: "Espresso Martini",
                price: "8,50",
              },
              {
                title: "Kirsh café",
                price: "8,50",
              },
              {
                title: "Boadas frío",
                price: "6,50",
              },
              {
                title: "Mazagrán",
                price: "6,50",
              },
            ],
          },
          {
            id: "icedcoffees",
            tittle: "Cafés con helado",
            drinks: [
              {
                title: "Blanco y negro",
                price: "6,50",
              },
              {
                title: "Jovi frío",
                price: "6,50",
              },
              {
                title: "Escocés",
                price: "6,50",
              },
            ],
          },
        ],
      },
    },
    {
      drink: "wines",
      tabButtonsWrapper: {
        title: "Vinos",
        tabButtons: [
          {
            id: "px",
            title: "Pedro Jiménez",
          },
          {
            id: "winesBottle",
            title: "Vinos botella",
          },
          {
            id: "wines",
            title: "Vinos copa",
          },
        ],
      },
      drinksSectionWrapper: {
        drinksSection: [
          {
            id: "px",
            tittle: "Pedro Jiménez",
            drinks: [
              {
                title: "Manzanilla",
                price: "4,00",
              },
              {
                title: "Málaga Virgen",
                price: "4,00",
              },
              {
                title: "Moscatel",
                price: "4,00",
              },
              {
                title: "Sandeman Oporto",
                price: "4,00",
              },
              {
                title: "Oporto Grahams",
                price: "4,00",
              },
              {
                title: "Perla Azul",
                price: "9,00",
              },
              {
                title: "Don Pedro Jiménez",
                price: "4,50",
              },
            ],
          },
          {
            id: "winesBottle",
            tittle: "Vinos botella",
            drinks: [
              {
                title: "Pago de la Jaraba",
                price: "20,00",
              },
              {
                title: "Viña Charcón fermentado en barrica, uva Sauvignon",
                price: "18,00",
              },
              {
                title: "Protos",
                price: "15,00",
              },
              {
                title: "Pazo san Mauro",
                price: "35,00",
              },
              {
                title: "Traslascuestas",
                price: "15,00",
              },
              {
                title: "Traslascuestas Imperial",
                price: "32,00",
              },
              {
                title: "Marqués de Riscal",
                price: "17,00",
              },
              {
                title: "Dominio de Fontana Crianza",
                price: "16,00",
              },
              {
                title: "Dominio de Fontana Roble",
                price: "14,00",
              },
              {
                title: "Corpus",
                price: "15,00",
              },
              {
                title: "Vulcanus",
                price: "17,00",
              },
              {
                title: "Luis cañas",
                price: "20,00",
              },
            ],
          },
          {
            id: "wines",
            tittle: "Vinos copa",
            drinks: [
              {
                title: "Polvorete Godello",
                price: "3,00",
              },
              {
                title: "Vino Pago de la Jaraba",
                price: "3,50",
              },
              {
                title: "Traslascuestas",
                price: "3,00",
              },
              {
                title: "Corpus",
                price: "2,50",
              },
              {
                title: "Añil",
                price: "2,50",
              },
              {
                title: "Marqués de Riscal",
                price: "3,00",
              },
              {
                title: "Luis Cañas",
                price: "3,50",
              },
              {
                title: "Dominio de Fontana Roble",
                price: "2,50",
              },
              {
                title: "Dominio de Fontana Crianza",
                price: "3,00",
              },
              {
                title: "Vulcanus",
                price: "3,00",
              },
              {
                title: "Resalso",
                price: "3,00",
              },
              {
                title: "Protos",
                price: "3,00",
              },
            ],
          },
        ],
      },
    },
  ];

  return pages.map(({ drink, tabButtonsWrapper, drinksSectionWrapper }) => ({
    params: { drink },
    props: { tabButtonsWrapper, drinksSectionWrapper },
  }));
}

const { tabButtonsWrapper, drinksSectionWrapper } = Astro.props;
---

<MainLayout pageTittle="Bebidas">
  <section
    class="drinks-main-section flex justify-content"
    style="--justify: center"
  >
    <div
      class="drinks-wrapper flex flex-direction justify-content"
      style="--direction: column; --justify: center"
    >
      <TabButtonsWrapper tabButtonsWrapper={tabButtonsWrapper} />
      <DrinksSectionWrapper drinksSectionWrapper={drinksSectionWrapper} />
    </div>
  </section>
</MainLayout>
