---
import type { TabButtonItem } from "@customTypes/buttons/tabButtonItem";

import TabButton from "@components/buttons/TabButton.astro";

import "@styles/components/buttons/TabButtonsSection.less";

interface Props {
  tabButtons: TabButtonItem[];
}

const { tabButtons } = Astro.props;
---

<ul id="tab-buttons-section" class="flex">
  {
    tabButtons.map((tabButton) => (
      <li>
        <TabButton tabButton={tabButton} />
      </li>
    ))
  }
</ul>
