@import '../Var.less';

.main-section {
	background-image: url('/Jovi/drinks.jpg');
	background-attachment: fixed;
}

.drinks-wrapper {
	width: 70%;

	.drinks-section-container {
		margin: 200px 0px;
		padding: 100px;
		background-color: @transparent-black;

		h1 {
			text-align: center;
		}

		.drinks-section {
			gap: 40px
		}

		.buttons-wrapper {
			margin: 20px 0px;
			justify-content: center;
			gap: 30px;
			flex-wrap: wrap;
		}
	}
}

@media (max-width : @tablet) {
	.drinks-wrapper {
		width: 100%;

		.drinks-section-container {
			margin: 50px 0px;
			padding: 30px;
		}
	}
}