@import '../Var.less';

.main-section {
	background-image: url('/Jovi/drinks.jpg');
	background-attachment: fixed;
}

.drinks-wrapper {
	width: 70%;

	.drinks-section-container {
		margin: 200px 0px;
		padding: 100px;
		background-color: @transparent-black;

		.drinks-section {
			gap: 40px
		}

		.buttons-wrapper {
			margin: 20px 0px;
			.buttons {
				justify-content: space-evenly;

				button {
					padding: 13px 20px 13px;
					outline: 0;
					border: 1px solid @pale-white;
					cursor: pointer;
					position: relative;
					background-color: rgba(0, 0, 0, 0);
					user-select: none;
					-webkit-user-select: none;
					touch-action: manipulation;
				}

				button:after {
					content: "";
					background-color: rgb(255, 49, 49);
					width: 100%;
					z-index: -1;
					position: absolute;
					height: 100%;
					top: 7px;
					left: 7px;
					transition: 0.2s;
				}

				button:hover:after {
					top: 0px;
					left: 0px;
				}
			}
		}
	}
}

@media (max-width : @tablet) {
	.drinks-wrapper {
		width: 100%;

		.drinks-section-container {
			margin: 50px 0px;
			padding: 30px;
		}
	}
}