@import '../Var.less';

.main-section {
	background-image: url('/Jovi/drinks.jpg');
}

.drinks-wrapper {
	width: 70%;

	.drinks-section-container {
		margin-top: 61px;
		margin-bottom: 100px;
		padding: 100px;
		background-color: @transparent-black;

		h1 {
			text-align: center;
		}

		.drinks-section {
			gap: 40px
		}
	}
}

@media (max-width : @tablet) {
	.drinks-wrapper {
		width: 100%;

		.drinks-section-container {
			margin: 50px 0px;
			padding: 30px;
		}
	}
}