@import '../Var.less';

.main-section {
	background-image: url('/Jovi/menu.jpg');
}

.food-section-tittle {
	text-transform: uppercase;
	font-weight: bolder;
	transform: rotate(270deg);
	transform-origin: center;
}
