@import '../Var.less';

.food-main-section {
	z-index: 0;
	background-image: url("/Jovi/menu/menu_background.jpg");
	background-repeat: repeat;
	background-size: 500px;
	flex-direction: column;
	background-attachment: fixed;
	;

	* {
		color: @dark-gray;
	}

	.tab-button {
		border: 1px solid @dark-gray;
	}

	.tab-button:after {
		background-color: @pale-pink;
	}

	.food-wrapper {
		width: 70%;
	}
}

@media (max-width : @tablet) {

	.food-main-section {

		.food-wrapper {
			width: 100%;
		}
	}
}