@import '../Var.less';

.food-main-section {
	z-index: 0;
	background-image: url("/Jovi/food/food_background.jpg");
	background-repeat: repeat;
	background-size: 500px;
	flex-direction: column;

	* {
		color: @dark-gray;
	}

	.tab-button {
		border: 1px solid @dark-gray;
	}

	.tab-button:after {
		background-color: @pale-pink;
	}

	.food-header {
		margin: 61px 0 0 0;
		padding-top: 100px;
		padding-bottom: 50px;
	
		h1 {
			text-align: center;
		}
	}
}
