@import '../Var.less';

.main-section {
	background-image: url('https://images.pexels.com/photos/1283219/pexels-photo-1283219.jpeg');
	background-attachment: fixed;

	div {
		padding: 30px;
		background-color: @transparent-black;
		h1, h5 {
			background: #FF79A6;
			background: linear-gradient(to right, #FF79A6 0%, #57BDE5 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
}

