@import '../Var.less';

.index-section1 {
	height: 100vh;
	background-image: url('https://images.pexels.com/photos/1283219/pexels-photo-1283219.jpeg');
	background-attachment: fixed;
	display: flex;
	align-items: center;

	div {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 30px;
		background-color: @bg-t-black;
		h1, h5 {
			background: #FF79A6;
			background: linear-gradient(to right, #FF79A6 0%, #57BDE5 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
}

.index-section2 {
	height: 700px;
	display: flex;
}
