// Colors
@transparent: rgba(0, 0, 0, 0);;
@black: rgba(0, 0, 0);
@black-transparent: rgba(0, 0, 0, 0.7);
@gray: rgba(27, 27, 29);
@white: rgba(245, 245, 247);
@border-white: rgba(245, 245, 247, 0.25);
@pale-pink: rgba(250, 218, 221, 1);
@pale-pink-transparent: rgba(250, 218, 221, 0.5);

// Font sizes
@fs-h1: 5em;
@fs-h2: 3em;
@fs-h3: 2.5em;
@fs-h4: 2.0em;
@fs-h5: 1.5em;
@fs-h6: 1.2em;
@fs-p: 1.0em;

// Breakpoints
@mobile: 480px;
@tablet: 835px;
