@import '../../Var.less';

.navigation {
	z-index: 10;
	position: fixed;
	display: flex;
	justify-content: center;
	height: 60px;
	width: 100%;
	background: @black-transparent;
	border-bottom: 1px solid @border-white;

	nav {
		align-items: center;
		width: 70%;
		display: flex;
		justify-content: space-evenly;

		a {
			display: flex;
			align-items: center;
			opacity: 0.8;
		}

		a:hover {
			opacity: 1;
		}
	}
}

#mobile-menu {
	background-color: @black-transparent;
	height: 100%;
	width: 100%;
	z-index: 20;
	position: fixed;
	display: none;
}

@media (max-width : @tablet) {

	.navigation {

		nav {
			width: 100%;
			padding: 0px 15px;

			a:not(:first-child) {
				visibility: hidden;
			}
		}
	}
}

