---
import type { DrinksSectionItem } from "@types/drinks/drinksSectionItem";

import Drink from "@components/drinks/Drink.astro";

import "@styles/components/drinks/DrinkSection.less";

interface Props {
	drinkSection: DrinksSectionItem;
}

const { drinkSection } = Astro.props;
---

<li>
	<section id={drinkSection.id} class="drink-section" style="display: none;">
		<h2>{drinkSection.tittle}</h2>
		<ul class="flex">
			{drinkSection.drinks.map((drink) => <Drink drink={drink} />)}
		</ul>
	</section>
</li>
