---
import DrinkSection from "../components/DrinkSection.astro";
import TabButton from "../components/TabButton.astro";
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/pages/Drinks.less";
import { DrinkSectionItem } from "../types/drinkSection";

const refreshments: DrinkSectionItem = {
	id: "refreshments",
	tittle: "Refrescos",
	drinks: [
		{
			title: "Coca-Cola 25cl",
			description: "Compuesto de cosas con mucho azúcar y mucho gas",
			price: "2.20",
		},
		{
			title: "Fanta de Naranja",
			price: "2.20",
		},
		{
			title: "Coca-Cola 25cl",
			description: "Compuesto de cosas con mucho azúcar y mucho gas",
			price: "2.20",
		},
		{
			title: "Fanta de Naranja",
			price: "2.20",
		},
		{
			title: "Coca-Cola 25cl",
			description: "Compuesto de cosas con mucho azúcar y mucho gas",
			price: "2.20",
		},
		{
			title: "Fanta de Naranja",
			price: "2.20",
		},
		{
			title: "Coca-Cola 25cl",
			description: "Compuesto de cosas con mucho azúcar y mucho gas",
			price: "2.20",
		},
		{
			title: "Fanta de Naranja",
			price: "2.20",
		},
	],
};

const beers: DrinkSectionItem = {
	id: "beers",
	tittle: "Cervezas",
	drinks: [
		{
			title: "Coca-Cola 25cl",
			description: "Compuesto de cosas con mucho azúcar y mucho gas",
			price: "2.20",
		},
		{
			title: "Fanta de Naranja",
			price: "2.20",
		},
		{
			title: "Coca-Cola 25cl",
			description: "Compuesto de cosas con mucho azúcar y mucho gas",
			price: "2.20",
		},
		{
			title: "Fanta de Naranja",
			price: "2.20",
		},
		{
			title: "Coca-Cola 25cl",
			description: "Compuesto de cosas con mucho azúcar y mucho gas",
			price: "2.20",
		},
	],
};

const cocktails: DrinkSectionItem = {
	id: "cocktails",
	tittle: "Cócteles",
	drinks: [
		{
			title: "Coca-Cola 25cl",
			description: "Compuesto de cosas con mucho azúcar y mucho gas",
			price: "2.20",
		},
		{
			title: "Fanta de Naranja",
			price: "2.20",
		},
		{
			title: "Coca-Cola 25cl",
			description: "Compuesto de cosas con mucho azúcar y mucho gas",
			price: "2.20",
		},
		{
			title: "Fanta de Naranja",
			price: "2.20",
		},
		{
			title: "Coca-Cola 25cl",
			description: "Compuesto de cosas con mucho azúcar y mucho gas",
			price: "2.20",
		},
	],
};

const coffes: DrinkSectionItem = {
	id: "coffes",
	tittle: "Cafés",
	drinks: [
		{
			title: "Coca-Cola 25cl",
			description: "Compuesto de cosas con mucho azúcar y mucho gas",
			price: "2.20",
		},
		{
			title: "Fanta de Naranja",
			price: "2.20",
		},
		{
			title: "Coca-Cola 25cl",
			description: "Compuesto de cosas con mucho azúcar y mucho gas",
			price: "2.20",
		},
		{
			title: "Fanta de Naranja",
			price: "2.20",
		},
		{
			title: "Coca-Cola 25cl",
			description: "Compuesto de cosas con mucho azúcar y mucho gas",
			price: "2.20",
		},
	],
};
---

<MainLayout pageTittle="Bebidas">
	<div class="main-section flex justify-content" style="--justify: center">
		<div
			class="drinks-wrapper flex flex-direction justify-content"
			style="--direction: column; --justify: center"
			style="--direction: column; --justify: center"
		>
			<div
				class="drinks-section-container blur-background flex flex-direction"
				style="--direction:column"
			>
				<h1>Bebidas</h1>
				<ul class="buttons-wrapper flex">
					<li>
						<TabButton id="refreshments" title="Refrescos" />
					</li>
					<li>
						<TabButton id="beers" title="Cervezas" />
					</li>
					<li>
						<TabButton id="cocktails" title="Cócteles" />
					</li>
					<li>
						<TabButton id="coffes" title="Cafés" />
					</li>
				</ul>
				<div
					class="drinks-section flex flex-direction"
					style="--direction: column"
				>
					<DrinkSection drinkSection={refreshments} />
					<DrinkSection drinkSection={beers} />
					<DrinkSection drinkSection={cocktails} />
					<DrinkSection drinkSection={coffes} />
				</div>
			</div>
		</div>
	</div>
</MainLayout>
