---
import { DrinkItem } from "../types/drinkItem";
import Drink from "../components/Drink.astro";
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/pages/Drinks.less";

const refreshments: DrinkItem[] = [
	{
		title: "Cocal-Cola 25cl",
		description: "Compuesto de cosas con mucho azúcar y mucho gas",
		price: "2.20",
	},
	{
		title: "Fanta de Naranja",
		price: "2.20",
	},
	{
		title: "Cocal-Cola 25cl",
		description: "Compuesto de cosas con mucho azúcar y mucho gas",
		price: "2.20",
	},
	{
		title: "Fanta de Naranja",
		price: "2.20",
	},
	{
		title: "Cocal-Cola 25cl",
		description: "Compuesto de cosas con mucho azúcar y mucho gas",
		price: "2.20",
	},
	{
		title: "Fanta de Naranja",
		price: "2.20",
	},
	{
		title: "Cocal-Cola 25cl",
		description: "Compuesto de cosas con mucho azúcar y mucho gas",
		price: "2.20",
	},
	{
		title: "Fanta de Naranja",
		price: "2.20",
	}
];
---

<MainLayout pageTittle="Bebidas">
	<div class="main-section flex justify-content" style="--justify: center">
		<div
			class="drinks-wrapper flex flex-direction justify-content"
			style="--direction: column; --justify: center"
		>
			<section
				class="drinks-section blur-background flex flex-direction"
				style="--direction:column"
			>
				<h1>Bebidas</h1>
				<h2>Refrescos</h2>
				{refreshments.map((drink) => <Drink drink={drink} />)}
			</section>
		</div>
	</div>
</MainLayout>
