---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/pages/Food.less";
---

<MainLayout>
	<section class="food-section1">
		<div>
			<h1>Comida</h1>
		</div>
	</section>
</MainLayout>
