---
import FoodCard from "../components/FoodCard.astro";
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/pages/Food.less";
import { MenuNodeItem } from "../types/menuNodeItem";

const subMenu: MenuNodeItem[] = [
	{
		url: "/Jovi/food/#rations",
		name: "Raciones",
	},
	{
		url: "/Jovi/food/#sandwiches",
		name: "Sandwiches",
	},
	{
		url: "/Jovi/food/#",
		name: "Montados",
	},
	{
		url: "/Jovi/food/#rations",
		name: "Tostas",
	},
];
---

<MainLayout pageTittle="Menú" subMenu={subMenu}>
	<section class="main-section height" style="--height: 100vh"></section>
	<div class="flex justify-content" style="--justify: center">
		<div class="food-wrapper flex flex-direction gap">
			<section id="rations" class="flex flex-wrap gap">
				<div
					class="flex justify-content align-items width"
					style="--justify: center; --align: center; --width: 120px"
				>
					<h2 class="food-section-tittle">Raciones</h2>
				</div>
				<FoodCard
					title="Sandwich Jovi"
					price="2,20"
					allergens={["celery", "dairy"]}
					text="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae."
					background="/Jovi/sandwich.jpg"
				/>
				<FoodCard
					title="Sandwich Jovi"
					price="2,20"
					text="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae."
					background="/Jovi/sandwich.jpg"
				/>
				<FoodCard
					title="Sandwich Jovi"
					price="2,20"
					text="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae."
					background="/Jovi/sandwich.jpg"
				/>
				<FoodCard
					title="Sandwich Jovi"
					price="2,20"
					text="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae."
					background="/Jovi/sandwich.jpg"
				/>
				<FoodCard
					title="Sandwich Jovi"
					price="2,20"
					text="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae."
					background="/Jovi/sandwich.jpg"
				/>
				<FoodCard
					title="Sandwich Jovi"
					price="2,20"
					text="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae."
					background="/Jovi/sandwich.jpg"
				/>
				<FoodCard
					title="Sandwich Jovi"
					price="2,20"
					text="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae."
					background="/Jovi/sandwich.jpg"
				/>
				<FoodCard
					title="Sandwich Jovi"
					price="2,20"
					text="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae."
					background="/Jovi/sandwich.jpg"
				/>
			</section>
			<section
				id="sandwiches"
				class="flex flex-wrap gap"
				style="--gap: 10px"
			>
				<div
					class="flex justify-content align-items width"
					style="--justify: center; --align: center; --width: 120px"
				>
					<h2 class="food-section-tittle">Sandwiches</h2>
				</div>
				<FoodCard
					title="Sandwich Jovi"
					price="2,20"
					text="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae."
					background="/Jovi/sandwich.jpg"
				/>
				<FoodCard
					title="Sandwich Jovi"
					price="2,20"
					text="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae."
					background="/Jovi/sandwich.jpg"
				/>
				<FoodCard
					title="Sandwich Jovi"
					price="2,20"
					text="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae."
					background="/Jovi/sandwich.jpg"
				/>
				<FoodCard
					title="Sandwich Jovi"
					price="2,20"
					text="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae."
					background="/Jovi/sandwich.jpg"
				/>
				<FoodCard
					title="Sandwich Jovi"
					price="2,20"
					text="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae."
					background="/Jovi/sandwich.jpg"
				/>
				<FoodCard
					title="Sandwich Jovi"
					price="2,20"
					text="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae."
					background="/Jovi/sandwich.jpg"
				/>
				<FoodCard
					title="Sandwich Jovi"
					price="2,20"
					text="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae."
					background="/Jovi/sandwich.jpg"
				/>
				<FoodCard
					title="Sandwich Jovi"
					price="2,20"
					text="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae."
					background="/Jovi/sandwich.jpg"
				/>
			</section>
		</div>
	</div>
</MainLayout>
