---
import FoodSection from "../components/FoodSection.astro";
import TabButtonsSection from "../components/TabButtonsSection.astro";
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/pages/Food.less";
import { FoodSectionItem } from "../types/foodSection";
import { TabButtonItem } from "../types/tabButtonItem";

const tabButtons: TabButtonItem[] = [
	{
		id: "rations",
		title: "Raciones",
	},
	{
		id: "sandwiches",
		title: "Sandwiches",
	},
];

const rationsSection: FoodSectionItem = {
	id: "rations",
	tittle: "Raciones",
	foodCards: [
		{
			title: "Sandwich Jovi",
			price: "2,20",
			allergens: ["celery", "dairy"],
			text: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae.",
			image: "/Jovi/sandwich.jpg",
		},
		{
			title: "Sandwich Jovi",
			price: "2,20",
			allergens: [],
			text: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae.",
			image: "/Jovi/sandwich.jpg",
		},
		{
			title: "Sandwich Jovi",
			price: "2,20",
			allergens: [],
			text: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae.",
			image: "/Jovi/sandwich.jpg",
		},
		{
			title: "Sandwich Jovi",
			price: "2,20",
			allergens: ["celery", "dairy"],
			text: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae.",
			image: "/Jovi/sandwich.jpg",
		},
		{
			title: "Sandwich Jovi",
			price: "2,20",
			allergens: ["celery", "dairy"],
			text: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae.",
			image: "/Jovi/sandwich.jpg",
		},
		{
			title: "Sandwich Jovi",
			price: "2,20",
			allergens: ["celery", "dairy"],
			text: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae.",
			image: "/Jovi/sandwich.jpg",
		},
		{
			title: "Sandwich Jovi",
			price: "2,20",
			allergens: ["celery", "dairy"],
			text: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae.",
			image: "/Jovi/sandwich.jpg",
		},
		{
			title: "Sandwich Jovi",
			price: "2,20",
			allergens: ["celery", "dairy"],
			text: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae.",
			image: "/Jovi/sandwich.jpg",
		},
		{
			title: "Sandwich Jovi",
			price: "2,20",
			allergens: ["celery", "dairy"],
			text: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae.",
			image: "/Jovi/sandwich.jpg",
		},
	],
};

const sandwichesSection: FoodSectionItem = {
	id: "sandwiches",
	tittle: "Sandwiches",
	foodCards: [
		{
			title: "Sandwich Jovi",
			price: "2,20",
			allergens: ["celery", "dairy"],
			text: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae.",
			image: "/Jovi/sandwich.jpg",
		},
		{
			title: "Sandwich Jovi",
			price: "2,20",
			allergens: ["celery", "dairy"],
			text: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae.",
			image: "/Jovi/sandwich.jpg",
		},
		{
			title: "Sandwich Jovi",
			price: "2,20",
			allergens: ["celery", "dairy"],
			text: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae.",
			image: "/Jovi/sandwich.jpg",
		},
		{
			title: "Sandwich Jovi",
			price: "2,20",
			allergens: [],
			text: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae.",
			image: "/Jovi/sandwich.jpg",
		},
		{
			title: "Sandwich Jovi",
			price: "2,20",
			allergens: [],
			text: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae.",
			image: "/Jovi/sandwich.jpg",
		},
	],
};
---

<MainLayout pageTittle="Menú">
	<section
		class="food-main-section flex justify-content"
		style="--justify: center"
	>
		<section class="food-header">
			<h1>Menú</h1>

			<TabButtonsSection tabButtons={tabButtons} />
		</section>
		<FoodSection foodSection={rationsSection} />
		<FoodSection foodSection={sandwichesSection} />
	</section>
</MainLayout>
