---
import FoodSection from "../components/FoodSection.astro";
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/pages/Food.less";
import { FoodSectionItem } from "../types/foodSection";
import { MenuNodeItem } from "../types/menuNodeItem";

const subMenu: MenuNodeItem[] = [
	{
		url: "/Jovi/food/#rations",
		name: "Raciones",
	},
	{
		url: "/Jovi/food/#sandwiches",
		name: "Sandwiches",
	},
	{
		url: "/Jovi/food/#",
		name: "Montados",
	},
	{
		url: "/Jovi/food/#rations",
		name: "Tostas",
	},
];

const rationsSection: FoodSectionItem = {
	id: "rations",
	tittle: "Raciones",
	foodCards: [
		{
			title: "Sandwich Jovi",
			price: "2,20",
			allergens: ["celery", "dairy"],
			text: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae.",
			image: "/Jovi/sandwich.jpg",
		},
		{
			title: "Sandwich Jovi",
			price: "2,20",
			allergens: [],
			text: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae.",
			image: "/Jovi/sandwich.jpg",
		},
		{
			title: "Sandwich Jovi",
			price: "2,20",
			allergens: [],
			text: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae.",
			image: "/Jovi/sandwich.jpg",
		},
		{
			title: "Sandwich Jovi",
			price: "2,20",
			allergens: ["celery", "dairy"],
			text: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae.",
			image: "/Jovi/sandwich.jpg",
		},
		{
			title: "Sandwich Jovi",
			price: "2,20",
			allergens: ["celery", "dairy"],
			text: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae.",
			image: "/Jovi/sandwich.jpg",
		},
		{
			title: "Sandwich Jovi",
			price: "2,20",
			allergens: ["celery", "dairy"],
			text: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae.",
			image: "/Jovi/sandwich.jpg",
		},
		{
			title: "Sandwich Jovi",
			price: "2,20",
			allergens: ["celery", "dairy"],
			text: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae.",
			image: "/Jovi/sandwich.jpg",
		},
		{
			title: "Sandwich Jovi",
			price: "2,20",
			allergens: ["celery", "dairy"],
			text: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae.",
			image: "/Jovi/sandwich.jpg",
		},
		{
			title: "Sandwich Jovi",
			price: "2,20",
			allergens: ["celery", "dairy"],
			text: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae.",
			image: "/Jovi/sandwich.jpg",
		},
	],
};

const sandwichesSection: FoodSectionItem = {
	id: "sandwiched",
	tittle: "Sandwiches",
	foodCards: [
		{
			title: "Sandwich Jovi",
			price: "2,20",
			allergens: ["celery", "dairy"],
			text: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae.",
			image: "/Jovi/sandwich.jpg",
		},
		{
			title: "Sandwich Jovi",
			price: "2,20",
			allergens: ["celery", "dairy"],
			text: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae.",
			image: "/Jovi/sandwich.jpg",
		},
		{
			title: "Sandwich Jovi",
			price: "2,20",
			allergens: ["celery", "dairy"],
			text: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae.",
			image: "/Jovi/sandwich.jpg",
		},
		{
			title: "Sandwich Jovi",
			price: "2,20",
			allergens: [],
			text: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae.",
			image: "/Jovi/sandwich.jpg",
		},
		{
			title: "Sandwich Jovi",
			price: "2,20",
			allergens: [],
			text: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae.",
			image: "/Jovi/sandwich.jpg",
		},
	],
};
---

<MainLayout pageTittle="Menú" subMenu={subMenu}>
	<section class="main-section height" style="--height: 100vh"></section>
	<div class="flex justify-content" style="--justify: center">
		<div class="food-wrapper flex flex-direction gap">
			<FoodSection foodSection={rationsSection} />
			<FoodSection foodSection={sandwichesSection} />
		</div>
	</div>
</MainLayout>
