---
import type { FoodSectionItem } from "@types/food/foodSection";
import type { TabButtonsWrapperItem } from "@types/buttons/tabButtonsWrapperItem";

import MainLayout from "@layouts/MainLayout.astro";
import FoodSection from "@components/food/FoodSection.astro";
import TabButtonsWrapper from "@components/buttons/TabButtonsWrapper.astro";

import "@styles/pages/Food.less";

const tabButtonsWrapper: TabButtonsWrapperItem = {
	title: "Menú",
	tabButtons: [
		{
			id: "rations",
			title: "Raciones",
		},
		{
			id: "sandwiches",
			title: "Sandwiches",
		},
	],
};

const rationsSection: FoodSectionItem = {
	id: "rations",
	title: "Raciones",
	foodCards: [
		{
			title: "Sandwich Jovi y más cosas",
			price: "2,20",
			text: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae.",
			image: "/food/wings.png",
		},
		{
			title: "Sandwich Jovi",
			price: "2,20",
			text: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae.",
			image: "/food/wings.png",
		},
		{
			title: "Sandwich Jovi",
			price: "2,20",
			text: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae.",
			image: "/food/wings.png",
		},
		{
			title: "Sandwich Jovi",
			price: "2,20",
			text: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae.",
			image: "/food/wings.png",
		},
		{
			title: "Sandwich Jovi",
			price: "2,20",
			text: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae.",
			image: "/food/wings.png",
		},
		{
			title: "Sandwich Jovi",
			price: "2,20",
			text: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae.",
			image: "/food/wings.png",
		},
		{
			title: "Sandwich Jovi",
			price: "2,20",
			text: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae.",
			image: "/food/wings.png",
		},
		{
			title: "Sandwich Jovi",
			price: "2,20",
			text: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae.",
			image: "/food/wings.png",
		},
		{
			title: "Sandwich Jovi",
			price: "2,20",
			text: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae.",
			image: "/food/wings.png",
		},
	],
};

const sandwichesSection: FoodSectionItem = {
	id: "sandwiches",
	title: "Sandwiches",
	foodCards: [
		{
			title: "Sandwich Jovi",
			price: "2,20",
			text: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae.",
			image: "/food/wings.png",
		},
		{
			title: "Sandwich Jovi",
			price: "2,20",
			text: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae.",
			image: "/food/wings.png",
		},
		{
			title: "Sandwich Jovi",
			price: "2,20",
			text: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae.",
			image: "/food/wings.png",
		},
		{
			title: "Sandwich Jovi",
			price: "2,20",
			text: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae.",
			image: "/food/wings.png",
		},
		{
			title: "Sandwich Jovi",
			price: "2,20",
			text: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, vero velit eos accusamus officiis quae.",
			image: "/food/wings.png",
		},
	],
};
---

<MainLayout pageTittle="Menú">
	<section class="food-main-section flex align-items" style="--align: center">
		<div class="food-wrapper flex flex-direction" style="--direction: column">
			<TabButtonsWrapper tabButtonsWrapper={tabButtonsWrapper} />
			<FoodSection foodSection={rationsSection} />
			<FoodSection foodSection={sandwichesSection} />
		</div>
	</section>
</MainLayout>
