---
import GalleryCard from "../components/GalleryCard.astro";
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/pages/Galery.less";
import { GalleryCardItem } from "../types/galleryCardItem";

const galleyImages: GalleryCardItem[] = [
	{
		image: "/Jovi/cocktail.jpg",
	},
	{
		image: "/Jovi/drinks.jpg",
	},
	{
		image: "/Jovi/menu.jpg",
	},
	{
		image: "/Jovi/sandwich.jpg",
	},
	{
		image: "/Jovi/cocktail.jpg",
	},
	{
		image: "/Jovi/drinks.jpg",
	},
	{
		image: "/Jovi/menu.jpg",
	},
	{
		image: "/Jovi/sandwich.jpg",
	},
	{
		image: "/Jovi/cocktail.jpg",
	},
	{
		image: "/Jovi/drinks.jpg",
	},
	{
		image: "/Jovi/menu.jpg",
	},
	{
		image: "/Jovi/sandwich.jpg",
	},
	{
		image: "/Jovi/cocktail.jpg",
	},
	{
		image: "/Jovi/drinks.jpg",
	},
	{
		image: "/Jovi/menu.jpg",
	},
	{
		image: "/Jovi/sandwich.jpg",
	},
];
---

<MainLayout pageTittle="Galería">
	<section
		class="gallery flex flex-wrap gap margin"
		style="--gap: 10px; --margin: 61px 0px 0px 0px"
	>
		{
			galleyImages.map((galleryImage) => (
				<GalleryCard galleryCard={galleryImage} />
			))
		}
	</section>
</MainLayout>
