---
import GalleryCard from "../components/GalleryCard.astro";
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/pages/Galery.less";
import type { GalleryCardItem } from "../types/galleryCardItem";

const galleyImages: GalleryCardItem[] = [
	{
		image: "/Jovi/cocktail.jpg",
	},
	{
		image: "/Jovi/drinks.jpg",
	},
	{
		image: "/Jovi/sandwich.jpg",
	},
	{
		image: "/Jovi/cocktail.jpg",
	},
	{
		image: "/Jovi/drinks.jpg",
	},
	{
		image: "/Jovi/sandwich.jpg",
	},
	{
		image: "/Jovi/cocktail.jpg",
	},
	{
		image: "/Jovi/drinks.jpg",
	},
	{
		image: "/Jovi/sandwich.jpg",
	},
	{
		image: "/Jovi/cocktail.jpg",
	},
	{
		image: "/Jovi/drinks.jpg",
	},
	{
		image: "/Jovi/sandwich.jpg",
	},
	{
		image: "/Jovi/cocktail.jpg",
	},
];
---

<MainLayout pageTittle="Galería">
	<section>
		<ul class="gallery flex flex-wrap">
			{
				galleyImages.map((galleryImage) => (
					<GalleryCard galleryCard={galleryImage} />
				))
			}
		</ul>
	</section>
</MainLayout>
