---
import GalleryCard from "../components/GalleryCard.astro";
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/pages/Galery.less";
import { GalleryCardItem } from "../types/galleryCardItem";

import cocktail from "/cocktail.jpg";
import drinks from "/drinks.jpg";
import menu from "/menu.jpg";
import sandwich from "/sandwich.jpg";

const galleyImages: GalleryCardItem[] = [
	{
		image: cocktail,
	},
	{
		image: drinks,
	},
	{
		image: menu,
	},
	{
		image: sandwich,
	},
	{
		image: cocktail,
	},
	{
		image: drinks,
	},
	{
		image: menu,
	},
	{
		image: sandwich,
	},
	{
		image: cocktail,
	},
	{
		image: drinks,
	},
	{
		image: menu,
	},
	{
		image: sandwich,
	},
	{
		image: cocktail,
	},
	{
		image: drinks,
	},
	{
		image: menu,
	},
	{
		image: sandwich,
	}
];
---

<MainLayout pageTittle="Galería">
	<section class="gallery">
		{
			galleyImages.map((galleryImage) => (
				<GalleryCard galleryCard={galleryImage} />
			))
		}
	</section>
</MainLayout>
