---
import GalleryCard from "../components/gallery/GalleryCard.astro";
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/pages/Gallery.less";
import type { GalleryCardItem } from "../types/gallery/galleryCardItem";

const galleyImages: GalleryCardItem[] = [
	{
		image: "/Jovi/cocktail.jpg",
	},
	{
		image: "/Jovi/drinks.jpg",
	},
	{
		image: "/Jovi/sandwich.jpg",
	},
	{
		image: "/Jovi/cocktail.jpg",
	},
	{
		image: "/Jovi/drinks.jpg",
	},
	{
		image: "/Jovi/sandwich.jpg",
	},
	{
		image: "/Jovi/cocktail.jpg",
	},
	{
		image: "/Jovi/drinks.jpg",
	},
	{
		image: "/Jovi/sandwich.jpg",
	},
	{
		image: "/Jovi/cocktail.jpg",
	},
	{
		image: "/Jovi/drinks.jpg",
	},
	{
		image: "/Jovi/sandwich.jpg",
	},
	{
		image: "/Jovi/cocktail.jpg",
	},
];
---

<MainLayout pageTittle="Galería">
	<section>
		<ul class="gallery grid">
			{
				galleyImages.map((galleryImage) => (
					<GalleryCard galleryCard={galleryImage} />
				))
			}
		</ul>
	</section>
</MainLayout>
