---
import Banner from "../components/Banner.astro";
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/pages/Index.less";
---

<MainLayout>
	<section class="section1">
		<div class="blur-background">
			<h1>Taberna Jovi</h1>
			<h5>
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum,
				explicabo.
			</h5>
		</div>
	</section>
	<section class="section2">
		<Banner
			title="Cócteles"
			subtitle="Descubre nuestros cócteles"
			background="/cocktail.jpg"
		/>
		<Banner
			title="Tapas"
			subtitle="Prueba nuestras tapas"
			background="/sandwich.jpg"
		/>
	</section>
</MainLayout>
