---
import "../../styles/components/header/HamburgerMenu.less";
---

<script src="../../scripts/components/hamburgerMenu.ts"></script>

<div id="menu-icon">
	<input id="menu-icon-checkbox" type="checkbox" />
	<div>
		<span></span>
		<span></span>
	</div>
</div>
