---
import "../styles/components/Allergens.less";

interface Props {
	allergens: string[];
}

const { allergens = [] } = Astro.props;

const allergenUrls = new Map(
	allergens.map((allergen) => [allergen, "/Jovi/allergens/" + allergen + ".png"])
);
---

<div
	id="allergens"
	class="flex flex-wrap align-items justify-content"
	style="--align: center; --justify: center"
>
	{
		allergens.map((allergen) => (
			<img
				class="height"
				style="--height: 100px"
				src={allergenUrls.get(allergen)}
				alt={allergen}
			/>
		))
	}
</div>
