---
import "../styles/components/Banner.less";

interface Props {
	title: string;
	subtitle?: string;
	text?: string;
	background?: string;
}

const {title, subtitle, text, background} = Astro.props;

const backgroundImage = "background-image: url(" + background + ");"
---

<div class="banner" style={backgroundImage}>
	<h2>{title}</h2>
	<h5>{subtitle}</h5>
</div>
