---
import { DrinkItem } from "../types/drinkItem";
import "../styles/components/Drink.less";

interface Props {
	drink: DrinkItem;
}

const { drink } = Astro.props;

---

<div class="drink">
	<div class="neon-underline flex flex-direction justify-content"
	style="--direction: row; --justify: space-between">
		<h5>
			{drink.title}
		</h5>
		<h5>
			{drink.price} €
		</h5>
	</div>
	<p>{drink.description}</p>
</div>
