---
import { FoodSectionItem } from "../types/foodSection";
import FoodCard from "./FoodCard.astro";

import "../styles/components/FoodSection.less";

interface Props {
    foodSection: FoodSectionItem;
}

const { foodSection } = Astro.props;
---

<section id={foodSection.id} class="food-section flex" style="display: none">
    <h2>Sandwiches</h2>
    <div class="flex flex-wrap gap">
        <FoodCard />
        <FoodCard />
        <FoodCard />
        <FoodCard />
    </div>
</section>
