---
import '../../src/styles/components/FoodCard.less'
---

<div class="card flex blur-background">
    <img src="/Jovi/alitas.png" class="card-img" alt="alitas">
    <h2 class="card-title">Alitas</h2>
</div>
