---
import "../styles/components/Footer.less";
---

<footer
	id="footer"
	class="flex align-items justify-content"
	style="--align: center; --justify: center"
>
	<div
		class="footer-container flex justify-content"
		style="--justify: space-around"
	>
		<p>Made with <i class="fa-solid fa-heart"></i> in Cuenca</p>
		<div class="social-media flex gap" style="--gap: 20px">
			<div class="flex gap" style="--gap: 10px">
				<a href="#" class="fa-brands fa-facebook"></a>
				<a href="#" class="fa-brands fa-instagram"></a>
			</div>
		</div>
		<div
			class="flex flex-direction gap"
			style="--direction: column; --gap: 20px"
		>
			<div
				class="flex align-items gap"
				style="--align: center; --gap: 10px"
			>
				<a href="#" class="fa-solid fa-phone"></a>
				<p>969 21 42 84</p>
			</div>
			<div
				class="flex align-items gap"
				style="--align: center; --gap: 10px"
			>
				<a href="#" class="fa-solid fa-location-dot"></a>
				<p>C/ Colmillo nยบ 10</p>
			</div>
		</div>
		<a href="/Jovi/"><img class="logo" src="/Jovi/logo.png" alt="Logo" /></a>
	</div>
</footer>
