---
import { GalleryCardItem } from "../types/galleryCardItem";
import "../styles/components/GalleryCard.less";

interface Props {
	galleryCard: GalleryCardItem;
}

const { galleryCard } = Astro.props;
---

<li class="gallery-card">
	<img src={galleryCard.image} alt="Example image" />
</li>
