---
import { GalleryCardItem } from "../types/galleryCardItem";
import "../styles/components/GalleryCard.less";

interface Props {
	galleryCard: GalleryCardItem;
}

const { galleryCard } = Astro.props;
---

<div class="image-container">
	<img class="gallery-card" src={galleryCard.image} alt="Example image" />
</div>
