---
import '../styles/components/Header.less';
---

<header class="blur-background">
	<nav>
		<a href="#"><img class="logo" src="/logo.png" alt="Logo"></a>
		<a href="#">Bebida</a>
		<a href="#">Comida</a>
		<a href="#">Dónde estamos</a>
		<a href="#">Contacto</a>
	</nav>
</header>
