---
import "@styles/Global.less";

interface Props {
  pageTittle?: string;
}

const { pageTittle } = Astro.props;

const fullPageTitle = pageTittle ? "| " + pageTittle : "";
---

<head>
  <!-- Global Metadata -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="generator" content={Astro.generator} />
  <link rel="icon" type="image/png" href="/favicon.jpg" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.jpg" />

  <!-- Font preloads -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />

  <title>Jovi {fullPageTitle}</title>
  <meta name="title" content={"Jovi " + fullPageTitle} />
</head>
