---
import "../styles/components/Header.less";
import {MenuNodeItem} from "../types/menuNodeItem";

interface Props {
	menu: MenuNodeItem[];
}

const {menu} = Astro.props;
---

<header class="navigation blur-background">
    <nav>
        <a href="/Jovi/"><img class="logo" src='/Jovi/logo.png' alt="Logo"/></a>
		{
			menu.map((menuNode) => (
                    <a href={menuNode.url}>{menuNode.name}</a>
			))
		}
    </nav>
</header>
