---
import "../styles/components/Header.less";
import { MenuNodeItem } from "../types/menuNodeItem";

interface Props {
	menu: MenuNodeItem[];
	subMenu?: MenuNodeItem[];
}

const { menu = [], subMenu = [] } = Astro.props;
const subMenuAvailable = subMenu.length != 0;
---

<header class="navigation blur-background">
	<nav>
		<a href="/Jovi"><img class="logo" src="/logo.png" alt="Logo" /></a>
		{
			menu.map((menuNode) => (
				<a href={menuNode.url}>{menuNode.name}</a>
			))
		}
	</nav>
	<div
		class={subMenuAvailable
			? "navigation subnavigation blur-background"
			: ""}
	>
		<nav>
			{
				subMenu.map((menuNode) => (
					<a href={menuNode.url}>{menuNode.name}</a>
				))
			}
		</nav>
	</div>
</header>
