---
import "../styles/components/MenuIcon.less";
---

<script src="../scripts/components/menuIcon.ts"></script>

<div id="menu-icon">
	<input class="menu-icon-checkbox" type="checkbox" />
	<div>
		<span></span>
		<span></span>
	</div>
</div>
