---
import { TabButtonsWrapperItem } from "../types/tabButtonsWrapperItem";
import TabButtonsSection from "./TabButtonsSection.astro";

import "../../src/styles/components/TabButtonsWrapper.less";

interface Props {
    tabButtonsWrapper: TabButtonsWrapperItem;
}

const { tabButtonsWrapper } = Astro.props;
---

<section class="tab-buttons-wrapper">
	<h1>{tabButtonsWrapper.title}</h1>
	<TabButtonsSection tabButtons={tabButtonsWrapper.tabButtons} />
</section>
