---
import {TabButtonItem} from "../types/tabButtonItem";
import TabButton from "./TabButton.astro";

import "../styles/components/TabButtonsSection.less";

interface Props {
    tabButtons: TabButtonItem[];
}

const {tabButtons} = Astro.props;
---

<ul class="tab-buttons-section flex">
    {
        tabButtons.map((tabButton) => (
                <li>
                    <TabButton tabButton={tabButton}/>
                </li>
        ))
    }
</ul>
