---
import "../styles/components/TabButton.less";

interface Props {
	id: string;
	title: string;
}

const { id, title } = Astro.props;
---

<script src="../scripts/components/tabButton.ts"></script>

<button role="button"
		class="tab-button js-tab-button"
		data-target-id={id}>
		{title}
</button>
