---
import "../../styles/components/footer/Footer.less";
---

<footer
	id="footer"
	class="flex align-items justify-content"
	style="--align: center; --justify: center"
>
	<div
		class="footer-container flex justify-content"
		style="--justify: space-around"
	>
		<p>Made with <i class="fa-solid fa-heart"></i> in Cuenca</p>
		<div class="social-media flex gap" style="--gap: 20px">

				<a href="https://www.facebook.com/TabernaJovi/" target="_blank" class="fa-brands fa-facebook"></a>
				<a href="https://www.instagram.com/tabernajovi/" target="_blank" class="fa-brands fa-instagram"></a>
		</div>
		<div
			class="flex flex-direction align-items gap"
			style="--direction: column; --align: center; --gap: 20px"
		>
			<div class="flex align-items gap" style="--align: center; --gap: 10px">
				<a href="tel:969214284" class="fa-solid fa-phone"></a>
				<p>969 21 42 84</p>
			</div>
			<div class="flex align-items gap" style="--align: center; --gap: 10px">
				<a href="https://maps.app.goo.gl/QKzQmyYWYhstxwkRA" target="_blank" class="fa-solid fa-location-dot"></a>
				<p>Calle Colmillo número 10</p>
			</div>
		</div>
		<a href="/"><img class="logo" src="/main/logo.png" alt="Logo" /></a>
	</div>
</footer>
