@import '../Var.less';

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	color: @pale-white;
	font-weight: normal;
	background-repeat: no-repeat;
	scroll-behavior: smooth;
	text-transform: none;
	background-size: cover;
	background-position: center;

}

body {
	font-size: 100%;
	background-color: @black;
}

h1 {
	font-size: @fs-h1;
	font-weight: bolder;
}

h2 {
	font-size: @fs-h2;
}

h3 {
	font-size: @fs-h3;
}

h4 {
	font-size: @fs-h4;
}

h5 {
	font-size: @fs-h5;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 5px 0px;
}

p {
	font-size: @fs-p;
}

nav a {
	font-size: @fs-p;
}

.blur-background {
	-webkit-backdrop-filter: saturate(180%) blur(15px);
	backdrop-filter: saturate(180%) blur(15px);
}

.flex {
	display: flex;
}

.justify-content {
	justify-content: var(--justify);
}

.align-items {
	align-items: var(--align);
}

.flex-direction {
	flex-direction: var(--direction);
}

.flex-wrap {
	flex-wrap: wrap;
}

.gap {
	gap: var(--gap);
}

.height {
	height: var(--height);
}

.width {
	width: var(--width);
}

.logo {
	height: 40px;
	opacity: 0.8;
}

.logo:hover {
	opacity: 1;
}

.margin {
	margin: var(--margin)
}

.padding {
	padding: var(--padding)
}
