---
import Head from "@components/Head.astro";
import Footer from "@components/footer/Footer.astro";
import Header from "@components/header/Header.astro";

const { pageTitle } = Astro.props;
---

<html lang="en">
  <Head pageTittle={pageTitle} />
  <body>
    <Header />
    <main
      class="flex flex-direction gap"
      style="--gap: 10px; --direction: column"
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>
