---
import type { BannerItem } from "@customTypes/banner/bannerItem";

import "@styles/components/banner/Banner.less";

interface Props {
  banner: BannerItem;
}

const { banner } = Astro.props;

const backgroundImage =
  "background-image: url(" +
  banner.background +
  "); --direction: column; --align: center";
---

<a href={banner.url} class="banner">
  <div class="flex flex-direction align-items" style={backgroundImage}>
    <h2>{banner.title}</h2>
    <h5>{banner.subtitle}</h5>
  </div>
</a>
